@model IS_Proj_HIT.Entities.BirthPlaceType
@{
    ViewBag.Title = "Edit Birth Place Type";
}

<h1>Edit</h1>

<h4>Birth Place Type</h4>
<hr />

<div class="row">
    <div class="col-md-10">
        <form method="post">
            @Html.AntiForgeryToken()
            <div class="form-row">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="BirthPlaceTypeId" value="@Model.BirthPlaceTypeId" readonly/>
                <div class="form-group col-sm-6">
                    <label asp-for="BirthPlaceTypeName" class="control-label">Birth Place Type Name</label>
                    <input asp-for="BirthPlaceTypeName" 
                        class="form-control" maxlength="75" required
                        placeholder="Example:  Hospital" />
                    <span asp-validation-for="BirthPlaceTypeName" class="text-danger"></span>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-sm-12">
                    <label asp-for="BirthPlaceDescription" class="control-label">Birth Place Description</label>
                    <textarea asp-for="BirthPlaceDescription" 
                        class="form-control" maxlength="300"
                        placeholder="Example:  Birth place is a hospital" ></textarea>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group">
                    <input type="submit" value="Save Changes" class="btn btn-primary" />
                </div>
            </div>
        </form>
    </div>
</div>


<div>
    <a asp-controller="BirthRegistryStructuredData" asp-action="ViewBirthPlaceTypes">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}