@model List<IS_Proj_HIT.Entities.BirthPlaceType>
@{
    ViewData["Title"] = "Birth Place Types";
}

<div class="row my-3">
    <h3>
        <a class="btn btn-primary" asp-controller="BirthRegistryStructuredData" asp-action="Index">
            <i class="fa fa-arrow-left"></i>
        </a>
        Birth Place Types
    </h3>
</div>

<p>
    <a class="btn btn-primary" asp-controller="BirthRegistryStructuredData" asp-action="CreateBirthPlaceType">Create New</a>
</p>

<table class="stripe" id="birthPlaceTypeTable">
    <thead>
        <tr>
            <th>Birth Place Type Name</th>
            <th>Birth Place Description</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach(var birthPlaceType in Model)
        {
            <tr>
                <td>@birthPlaceType.BirthPlaceTypeName</td>
                <td>@birthPlaceType.BirthPlaceDescription</td>
                <td>
                    <a class="btn btn-primary" asp-controller="BirthRegistryStructuredData" asp-action="EditBirthPlaceType" asp-route-id="@birthPlaceType.BirthPlaceTypeId">Edit</a>
                    <a class="btn btn-danger" asp-controller="BirthRegistryStructuredData" asp-action="DeleteBirthPlaceType" asp-route-id="@birthPlaceType.BirthPlaceTypeId">Delete</a>
                </td>
            </tr>
        }

    </tbody>
</table>

@section scripts{
    <script>
    // DataTable Documentation found here:  https://datatables.net
    $(function(){
        // Create the data table
        $('#birthPlaceTypeTable').DataTable({
            columns: [null, null, {orderable: false}],
            order: [[0, 'asc'] ],
            pageLength: 10,
            searching: true,
            language: { emptyTable: 'None found'}
        });
    });
    </script>
}