@model IS_Proj_HIT.ViewModels.PatientVm.PatientStructuredDataViewModel
@{
    ViewBag.Title = "Create Ethnicity";
}

<h1>Create</h1>

<h4>Ethnicity</h4>
<hr />

<div class="row">
    <div class="col-md-10">
        <form method="post">
            @Html.AntiForgeryToken()
            <div class="form-row">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                
                <div class="form-group col-sm-6">
                    <label asp-for="Ethnicity.Name" class="control-label">Ethnicity Name</label>
                    <input asp-for="Ethnicity.Name" 
                        class="form-control" maxlength="50" required />
                    <span asp-validation-for="Ethnicity.Name" class="text-danger"></span>
                </div>
                <div class="form-group col-sm-6">
                    <label asp-for="Ethnicity.WiPopCode" class="control-label">WiPopCode</label>
                    <input asp-for="Ethnicity.WiPopCode" 
                        class="form-control" maxlength="3"/>
                    <span asp-validation-for="Ethnicity.WiPopCode" class="text-danger"></span>
                </div>

            </div>

            <div class="form-row">            
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </div>

        </form>
    </div>
</div>


<div>
    <a asp-controller="PatientStructuredData" asp-action="ViewEthnicities">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}