@model IS_Proj_HIT.Entities.MaternalMorbidity
@{
    ViewBag.Title = "Delete Maternal Morbidity";
}

<h1>Delete</h1>

<h3>@ViewData["RegularMessage"]</h3>
<h3 class="error">@ViewData["ErrorMessage"]</h3>

<h4>Maternal Morbidity</h4>
<hr />

<div class="row">
    <div class="col-md-10">
        <form method="post">
            @Html.AntiForgeryToken()
            <div class="form-row">
                
                <input type="hidden" asp-for="MaternalMorbidityId" value="@Model.MaternalMorbidityId" readonly/>

                <div class="form-group col-sm-6">
                    <label asp-for="MaternalMorbidityName" class="control-label">Maternal Morbidity Name</label>
                    <input asp-for="MaternalMorbidityName" class="form-control" />
                </div>
            </div>
            <div class="form-row">
                <div class="form-group">
                    <a asp-controller="BirthRegistryStructuredData" asp-action="ViewMaternalMorbidities" class="btn btn-outline-danger">Discard Changes</a>
                </div>
                <div class="form-group">
                    <input type="submit" value="Delete Item" class="ml-3 btn btn-primary" />
                </div>
            </div>            
        </form>
    </div>
</div>