@model List<IS_Proj_HIT.Entities.AbnormalCondition>
@{
    ViewData["Title"] = "Abnormal Conditions";
}

<div class="row my-3">
    <h3>
        <a class="btn btn-primary" asp-controller="BirthRegistryStructuredData" asp-action="Index">
            <i class="fa fa-arrow-left"></i>
        </a>
        Abnormal Conditions
    </h3>
</div>

<p>
    <a class="btn btn-primary" asp-controller="BirthRegistryStructuredData" asp-action="CreateAbnormalCondition">Create New</a>
</p>

<table class="stripe" id="abnormalConditionTable">
    <thead>
        <tr>
            <th>Abnormal Condition Name</th>
            <th>Abnormal Condition Description</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach(var abnormalCondition in Model)
        {
            <tr>
                <td>@abnormalCondition.AbnormalConditionName</td>
                <td>@abnormalCondition.AbnormalConditionDescription</td>
                <td>
                    <a class="btn btn-primary" asp-controller="BirthRegistryStructuredData" asp-action="EditAbnormalCondition" asp-route-id="@abnormalCondition.AbnormalConditionId">Edit</a>
                    <a class="btn btn-danger" asp-controller="BirthRegistryStructuredData" asp-action="DeleteAbnormalCondition" asp-route-id="@abnormalCondition.AbnormalConditionId">Delete</a>
                </td>
            </tr>
        }

    </tbody>
</table>

@section scripts{
    <script>
    // DataTable Documentation found here:  https://datatables.net
    $(function(){
        // Create the data table
        $('#abnormalConditionTable').DataTable({
            columns: [null, null, {orderable: false}],
            order: [[0, 'asc'] ],
            pageLength: 10,
            searching: true,
            language: { emptyTable: 'None found'}
        });
    });
    </script>
}