@model IS_Proj_HIT.ViewModels.EncounterStructuredDataViewModel
@{
    ViewBag.Title = "Delete Place Of Service OutPatient";
}

<h1>Delete</h1>

<h3>@ViewData["RegularMessage"]</h3>
<h3 class="error">@ViewData["ErrorMessage"]</h3>

<h4>Place Of Service OutPatient</h4>
<hr />

<div class="row">
    <div class="col-md-10">
        <form method="post">
            @Html.AntiForgeryToken()
            <div class="form-row">
                
                <input type="hidden" asp-for="PlaceOfServiceOutPatient.PlaceOfServiceId" value="@Model.PlaceOfServiceOutPatient.PlaceOfServiceId" readonly/>

                <div class="form-group col-sm-6">
                    <label asp-for="PlaceOfServiceOutPatient.WiPopCode" class="control-label">WiPopCode</label>
                    <input asp-for="PlaceOfServiceOutPatient.WiPopCode" class="form-control"  />
                    
                </div>
                <div class="form-group col-sm-6">
                    <label asp-for="PlaceOfServiceOutPatient.Description" class="control-label">Description</label>
                    <input asp-for="PlaceOfServiceOutPatient.Description" class="form-control"  />
                    
                </div>

                <div class="form-group">
                    <a asp-controller="EncounterStructuredData" asp-action="ViewPlaceOfServiceOutPatients" class="btn btn-outline-danger">Discard Changes</a>
                </div>
                <div class="form-group">
                    <input type="submit" value="Delete Item" class="ml-3 btn btn-primary" />
                </div>
            </div>            
        </form>
    </div>
</div>