@model IS_Proj_HIT.ViewModels.DisclosureStructuredData.DisclosureStructuredDataViewModel
@{
    ViewBag.Title = "Delete Document Requested";
}

<h1>Delete</h1>

<h3>@ViewData["RegularMessage"]</h3>
<h3 class="error">@ViewData["ErrorMessage"]</h3>

<h4>Document Requested</h4>
<hr />

<div class="row">
    <div class="col-md-10">
        <form method="post">
            @Html.AntiForgeryToken()
            <div class="form-row">
                
                <input type="hidden" asp-for="DocumentRequested.DocumentRequestedId" value="@Model.DocumentRequested.DocumentRequestedId" readonly/>

                <div class="form-group col-sm-6">
                    <label asp-for="DocumentRequested.DocumentRequested1" class="control-label">Document Requested</label>
                    <input asp-for="DocumentRequested.DocumentRequested1" class="form-control" maxlength="50" required />
                    
                </div>
                <div class="form-group col-sm-6">
                    <label asp-for="DocumentRequested.DocumentRequestedDescription" class="control-label">Document Requested Description</label>
                    <input asp-for="DocumentRequested.DocumentRequestedDescription" class="form-control" maxlength="100" required />
                    
                </div>
                <div class="form-group">
                    <a asp-controller="DisclosureStructuredData" asp-action="ViewDocumentRequesteds" class="btn btn-outline-danger">Discard Changes</a>
                </div>
                <div class="form-group">
                    <input type="submit" value="Delete Item" class="ml-3 btn btn-primary" />
                </div>
            </div>            
        </form>
    </div>
</div>

<div>
    <a asp-controller="DisclosureStructuredData" asp-action="ViewDocumentRequesteds">Back to List</a>
</div>