@{
    ViewData["Title"] = "Thanks for registering!";
}

<div class="container">
    <div class="row justify-content-center">
        <h1>@ViewData["Title"]</h1>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-4">
            <p class="text-danger">You do not have access to this resource. </p>
            <p class="text-danger">You will gain access to the system once your instructor has activated your account.</p>
            <p class="text-danger">If you think you should have access now, please contact your instructor or administrator.</p>
        </div>
    </div>
</div>