@model IS_Proj_HIT.ViewModels.PhysicianStructuredData.PhysicianDocsStructuredDataViewModel
@{
    ViewData["Title"] = "Delete Priority";
}

<h1>Delete</h1>

<h3>@ViewData["RegularMessage"]</h3>
<h3 class="error">@ViewData["ErrorMessage"]</h3>

<h4>Priority</h4>
<hr />

<div class="row">
    <div class="col-md-10">
        <form method="post">
            @Html.AntiForgeryToken()
            <div class="form-row">
                
                <input type="hidden" asp-for="Priority.PriorityId" value="@Model.Priority.PriorityId" readonly/>

                <div class="form-group col-sm-6">
                    <label asp-for="Priority.PriorityName" class="control-label">Priority Name</label>
                    <input asp-for="Priority.PriorityName" class="form-control" maxlength="50" required />
                </div>
            </div>

            <div class="form-row">
                <div class="form-group">
                    <a asp-controller="PhysicianDocsStructuredData" asp-action="ViewPriorities" class="btn btn-outline-danger">Discard Changes</a>
                </div>
                <div class="form-group">
                    <input type="submit" value="Delete Item" class="ml-3 btn btn-primary" />
                </div>
            </div>            
        </form>
    </div>
</div>

<div>
    <a asp-controller="PhysicianDocsStructuredData" asp-action="ViewPriorities">Back to List</a>
</div>