@model IS_Proj_HIT.ViewModels.PhysicianStructuredData.PhysicianDocsStructuredDataViewModel
@{
    ViewData["Title"] = "Edit Note Type";
}

<h1>Edit</h1>

<h4>Note Type</h4>
<hr />

<div class="row">
    <div class="col-md-10">
        <form method="post">
            @Html.AntiForgeryToken()
            <div class="form-row">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="NoteType.NoteTypeId" value="@Model.NoteType.NoteTypeId" readonly/>

                <div class="form-group col-sm-6">
                    <label asp-for="NoteType.NoteType1" class="control-label">Note Type Name</label>
                    <input asp-for="NoteType.NoteType1" class="form-control" maxlength="50" required />
                    <span asp-validation-for="NoteType.NoteType1" class="text-danger"></span>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group">
                    <a asp-controller="PhysicianDocsStructuredData" asp-action="ViewNoteTypes" class="btn btn-outline-danger">Discard Changes</a>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save Changes" class="ml-3 btn btn-primary" />
                </div>
            </div>            
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}