@model IS_Proj_HIT.ViewModels.PatientVm.PatientStructuredDataViewModel
@{
    ViewBag.Title = "Delete Gender";
}

<h1>Delete</h1>

<h3>@ViewData["RegularMessage"]</h3>
<h3 class="error">@ViewData["ErrorMessage"]</h3>

<h4>Gender</h4>
<hr />

<div class="row">
    <div class="col-md-10">
        <form method="post">
            @Html.AntiForgeryToken()
            <div class="form-row">

                <input type="hidden" asp-for="Gender.GenderId" value="@Model.Gender.GenderId" readonly/>

                <div class="form-group col-sm-4">
                    <label asp-for="Gender.Name" class="control-label">Gender Name</label>
                    <input asp-for="Gender.Name" 
                        class="form-control" maxlength="30" />
                </div>
            </div>
                
            <div class="form-row">
               <div class="form-group">
                    <a asp-controller="PatientStructuredData" asp-action="ViewGenders" class="btn btn-outline-danger">Discard Changes</a>
                </div>
                <div class="form-group">
                    <input type="submit" value="Delete Gender" class="ml-3 btn btn-primary" />
                </div>
            </div>
        </form>
    </div>
</div>