@model IS_Proj_HIT.ViewModels.EncounterStructuredDataViewModel
@{
    ViewBag.Title = "Delete Department";
}

<h1>Delete</h1>

<h3>@ViewData["RegularMessage"]</h3>
<h3 class="error">@ViewData["ErrorMessage"]</h3>

<h4>Department</h4>
<hr />

<div class="row">
    <div class="col-md-10">
        <form method="post">
            @Html.AntiForgeryToken()
            <div class="form-row">
                
                <input type="hidden" asp-for="Department.DepartmentId" value="@Model.Department.DepartmentId" readonly/>

                <div class="form-group col-sm-6">
                    <label asp-for="Department.Name" class="control-label">Department Name</label>
                    <input asp-for="Department.Name" class="form-control"  />
                    
                </div>
                <div class="form-group col-sm-6">
                    <label asp-for="Department.Description" class="control-label">Department Description</label>
                    <input asp-for="Department.Description" class="form-control"  />
                    
                </div>

                <div class="form-group">
                    <a asp-controller="EncounterStructuredData" asp-action="ViewDepartments" class="btn btn-outline-danger">Discard Changes</a>
                </div>
                <div class="form-group">
                    <input type="submit" value="Delete Item" class="ml-3 btn btn-primary" />
                </div>
            </div>            
        </form>
    </div>
</div>