@model IS_Proj_HIT.ViewModels.Alert.AlertCreateViewModel

@{
    ViewData["Title"] = "Add Patient Alert";
}

<partial name="PatientBannerPartial" model="ViewBag.Patient" class="mw-100"/>
<partial name="_PatientMenu" model="ViewBag.Patient"/>

<div class="row justify-content-start">
    <div class="col mx-0 px-0">
        @{
            await Html.RenderPartialAsync("Alert/_AlertCreatePartial");
        }
    </div>
</div>
