@model IS_Proj_HIT.Entities.CharacteristicOfLabor
@{
    ViewBag.Title = "Edit Characteristic Of Labor";
}

<h1>Edit</h1>

<h4>Characteristic Of Labor</h4>
<hr />

<div class="row">
    <div class="col-md-10">
        <form method="post">
            @Html.AntiForgeryToken()
            <div class="form-row">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="CharacteristicId" value="@Model.CharacteristicId" readonly/>
                <div class="form-group col-sm-6">
                    <label asp-for="CharacteristicName" class="control-label">Abnormal Condition Name</label>
                    <input asp-for="CharacteristicName" 
                        class="form-control" maxlength="100" required
                        placeholder="Example:  Induction of Labor" />
                    <span asp-validation-for="CharacteristicName" class="text-danger"></span>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-sm-12">
                    <label asp-for="CharacteristicDescription" class="control-label">Abnormal Condition Description</label>
                    <textarea asp-for="CharacteristicDescription" 
                        class="form-control" maxlength="400"
                        placeholder="Example:  Initiation of uterine..." ></textarea>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group">
                    <input type="submit" value="Save Changes" class="btn btn-primary" />
                </div>
            </div>
        </form>
    </div>
</div>


<div>
    <a asp-controller="BirthRegistryStructuredData" asp-action="ViewCharacteristicsOfLabors">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}