@model IS_Proj_HIT.ViewModels.PatientVm.PatientMedicationListViewModel

@{
    ViewData["Title"] = "Patient Medications";
    var userPermissions = ViewData["UserPermissions"] as List<string>;
}
@ViewBag.Message

<partial name="PatientBannerPartial" model="ViewBag.Patient" class="mw-100"/>
<partial name="_PatientMenu" model="ViewBag.Patient"/>

<div class="row justify-content-start">
    @if ((string) @ViewData["ErrorMessage"] != "")
    {
        <div><h3 class="error">@ViewData["ErrorMessage"]</h3></div>
    }
    <div class="col mx-0 px-0">
        <div class="card">
            @{
                await Html.RenderPartialAsync("Medication/_ListMedicationsPartial");
            }
        </div>
    </div>
</div>