@model IS_Proj_HIT.Entities.MedicationDeliveryRoute
@{
    ViewBag.Title = "Edit Delivery Route";
}

<h1>Edit</h1>

<h4>Delivery Route</h4>
<hr />
<div class="row">
    <div class="col-md-10">
        <form method="post">
            @Html.AntiForgeryToken()
            <div class="form-row">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="DeliveryRouteId" value="@Model.DeliveryRouteId" readonly/>
                <div class="form-group col-sm-4">
                    <label asp-for="DeliveryRouteName" class="control-label">Delivery Route</label>
                    <input asp-for="DeliveryRouteName" type="text" class="form-control" autocomplete="off" required/>
                    <span asp-validation-for="DeliveryRouteName" class="text-danger"></span>
                </div>
                <div class="form-group col-sm-4">
                    <label asp-for="Description" class="control-label">Description</label>
                    <input asp-for="Description" type="text" class="form-control" autocomplete="off" required/>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="form-group mt-4 col-sm-4">
                    <div class="pt-3">
                        <input asp-for="IsActive" class="form-input" type="checkbox"/>
                        <label asp-for="IsActive" class="form-check-label">Active</label>
                    </div>
                </div>
                @if (ViewBag.ErrorMessage != null) {
                    <div class="form-group col-12">
                        <span class="text-danger">@ViewBag.ErrorMessage</span>
                    </div>
                }
                <div class="form-group">
                    <a asp-controller="MedicationDataEntry" asp-action="ViewDeliveryRoutes" class="btn btn-outline-danger">Discard Changes</a>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save Changes" class="ml-3 btn btn-primary" />
                </div>
            </div>            
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}