@{
    ViewBag.Title = "Medication Data Entry";
}

<div class="row my-3">
<h3>
    <a class="btn btn-primary" asp-controller="Administration" asp-action="Index">
        <i class="fa fa-arrow-left "></i>
    </a>
    Medication Data Entry Management
</h3>
</div>


<div class="container">
    <div class="row">
        <div class="col-sm-4 col-lg-3 mb-3">
            <div class="card">
                <div class="card-body text-center">
                    <a class="btn btn-outline-primary" asp-controller="MedicationDataEntry" asp-action="ViewMedications">Medications</a>
                </div>
            </div>
        </div>

        <div class="col-sm-4 col-lg-3 mb-3">
            <div class="card">
                <div class="card-body text-center">
                    <a class="btn btn-outline-primary" asp-controller="MedicationDataEntry" asp-action="ViewBrandNames">Medication Brand Names</a>
                </div>
            </div>
        </div>

        <div class="col-sm-4 col-lg-3 mb-3">
            <div class="card">
                <div class="card-body text-center">
                    <a class="btn btn-outline-primary" asp-controller="MedicationDataEntry" asp-action="ViewDeliveryRoutes">Medication Delivery Routes</a>
                </div>
            </div>
        </div>

        <div class="col-sm-4 col-lg-3 mb-3">
            <div class="card">
                <div class="card-body text-center">
                    <a class="btn btn-outline-primary" asp-controller="MedicationDataEntry" asp-action="ViewDosageForms">Medication Dosage Forms</a>
                </div>
            </div>
        </div>

        <div class="col-sm-4 col-lg-3 mb-3">
            <div class="card">
                <div class="card-body text-center">
                    <a class="btn btn-outline-primary" asp-controller="MedicationDataEntry" asp-action="ViewFrequencies">Medication Frequencies</a>
                </div>
            </div>
        </div>

        <div class="col-sm-4 col-lg-3 mb-3">
            <div class="card">
                <div class="card-body text-center">
                    <a class="btn btn-outline-primary" asp-controller="MedicationDataEntry" asp-action="ViewGenericNames">Medication Generic Names</a>
                </div>
            </div>
        </div>
    </div>
</div>