@{
    ViewBag.Title = "Patient Data Entry";
}

<div class="row my-3">
<h3>
    <a class="btn btn-primary" asp-controller="Administration" asp-action="Index">
        <i class="fa fa-arrow-left "></i>
    </a>
    Patient Data Entry Management
</h3>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-4 col-lg-3 mb-3">
            <div class="card">
                <div class="card-body text-center">
                    <a class="btn btn-outline-primary" asp-controller="PatientStructuredData" asp-action="ViewCountries">Countries</a>
                </div>
            </div>
        </div> <!-- close the column  -->        
        <div class="col-sm-4 col-lg-3 mb-3">
            <div class="card">
                <div class="card-body text-center">
                    <a class="btn btn-outline-primary" asp-controller="PatientStructuredData" asp-action="ViewEducationLevels">Education Levels</a>
                </div>
            </div>
        </div> <!-- close the column  -->
        <div class="col-sm-4 col-lg-3 mb-3">
            <div class="card">
                <div class="card-body text-center">
                    <a class="btn btn-outline-primary" asp-controller="PatientStructuredData" asp-action="ViewEthnicities">Ethnicities</a>
                </div>
            </div>
        </div> <!-- close the column  -->
        <div class="col-sm-4 col-lg-3 mb-3">
            <div class="card">
                <div class="card-body text-center">
                    <a class="btn btn-outline-primary" asp-controller="PatientStructuredData" asp-action="ViewGenders">Genders</a>
                </div>
            </div>
        </div> <!-- close the column  -->
        <div class="col-sm-4 col-lg-3 mb-3">
            <div class="card">
                <div class="card-body text-center">
                    <a class="btn btn-outline-primary" asp-controller="PatientStructuredData" asp-action="ViewGenderPronouns">Gender Pronouns</a>
                </div>
            </div>
        </div> <!-- close the column  -->
        <div class="col-sm-4 col-lg-3 mb-3">
            <div class="card">
                <div class="card-body text-center">
                    <a class="btn btn-outline-primary" asp-controller="PatientStructuredData" asp-action="ViewInsuranceProviders">Insurance Providers</a>
                </div>
            </div>
        </div> <!-- close the column  -->
        <div class="col-sm-4 col-lg-3 mb-3">
            <div class="card">
                <div class="card-body text-center">
                    <a class="btn btn-outline-primary" asp-controller="PatientStructuredData" asp-action="ViewLanguages">Languages</a>
                </div>
            </div>
        </div> <!-- close the column  -->
        <div class="col-sm-4 col-lg-3 mb-3">
            <div class="card">
                <div class="card-body text-center">
                    <a class="btn btn-outline-primary" asp-controller="PatientStructuredData" asp-action="ViewLegalStatuses">Legal Statuses</a>
                </div>
            </div>
        </div> <!-- close the column  -->
        <div class="col-sm-4 col-lg-3 mb-3">
            <div class="card">
                <div class="card-body text-center">
                    <a class="btn btn-outline-primary" asp-controller="PatientStructuredData" asp-action="ViewMaritalStatuses">Marital Statuses</a>
                </div>
            </div>
        </div> <!-- close the column  -->
        <div class="col-sm-4 col-lg-3 mb-3">
            <div class="card">
                <div class="card-body text-center">
                    <a class="btn btn-outline-primary" asp-controller="PatientStructuredData" asp-action="ViewPreferredContactTimes">Preferred Contact Times</a>
                </div>
            </div>
        </div> <!-- close the column  -->
        <div class="col-sm-4 col-lg-3 mb-3">
            <div class="card">
                <div class="card-body text-center">
                    <a class="btn btn-outline-primary" asp-controller="PatientStructuredData" asp-action="ViewPreferredModeOfContacts">Preferred Modes of Contact</a>
                </div>
            </div>
        </div> <!-- close the column  -->
        <div class="col-sm-4 col-lg-3 mb-3">
            <div class="card">
                <div class="card-body text-center">
                    <a class="btn btn-outline-primary" asp-controller="PatientStructuredData" asp-action="ViewRaces">Race</a>
                </div>
            </div>
        </div> <!-- close the column  -->
        <div class="col-sm-4 col-lg-3 mb-3">
            <div class="card">
                <div class="card-body text-center">
                    <a class="btn btn-outline-primary" asp-controller="PatientStructuredData" asp-action="ViewReligions">Religion</a>
                </div>
            </div>
        </div> <!-- close the column  -->
        <div class="col-sm-4 col-lg-3 mb-3">
            <div class="card">
                <div class="card-body text-center">
                    <a class="btn btn-outline-primary" asp-controller="PatientStructuredData" asp-action="ViewSexes">Sex</a>
                </div>
            </div>
        </div> <!-- close the column  -->
    </div> <!-- close the row  -->
</div> <!-- close the container  -->