@model IS_Proj_HIT.Entities.PregnancyRiskFactor
@{
    ViewBag.Title = "Edit Pregnancy Risk Factor";
}

<h1>Edit</h1>

<h4>Pregnancy Risk Factor</h4>
<hr />

<div class="row">
    <div class="col-md-10">
        <form method="post">
            @Html.AntiForgeryToken()
            <div class="form-row">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="RiskFactorId" value="@Model.RiskFactorId" readonly/>
                <div class="form-group col-sm-6">
                    <label asp-for="RiskFactorName" class="control-label">Risk Factor Name</label>
                    <input asp-for="RiskFactorName" 
                        class="form-control" maxlength="50" required
                        placeholder="Example:  Eclampsia" />
                    <span asp-validation-for="RiskFactorName" class="text-danger"></span>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-sm-12">
                    <label asp-for="RiskFactorDescription" class="control-label">Risk Factor Description</label>
                    <textarea asp-for="RiskFactorDescription" 
                        class="form-control" maxlength="200"
                        placeholder="Example:  Hypertension with..." ></textarea>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group">
                    <input type="submit" value="Save Changes" class="btn btn-primary" />
                </div>
            </div>
        </form>
    </div>
</div>


<div>
    <a asp-controller="BirthRegistryStructuredData" asp-action="ViewPregnancyRiskFactors">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}