@{
    ViewBag.Title = "Miscellaneous Structured Data Entry";
}

<div class="row my-3">
    <h3>
        <a class="btn btn-primary" asp-controller="Administration" asp-action="Index">
            <i class="fa fa-arrow-left "></i>
        </a>
        Miscellaneous Structured Data Management
    </h3>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-4 col-lg-3 mb-3">
            <div class="card">
                <div class="card-body text-center">
                    <a class="btn btn-outline-primary" asp-controller="MiscStructuredData" asp-action="ViewDocumentTypes">Document Types</a>
                </div>
            </div>
        </div>
    </div>
</div>