@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>Waukesha County Technical Medical Center Privacy Policy</h1>
<hr />

<h3>General Disclosure</h3>
<p>WCTC HIT operates and maintains this web application. This page informs you of our policies regarding the collection, use, and disclosure of personal information we receive from users of the Site. We use your Personal Informaion only for providing and improving the website. By using the website, you agree to the collection and use of information in accordance with this policy.</p>

<h3>WCTMC Usage Policy</h3>
<p>All data and information contained in the WCTMC electronic database is simulated, is to be used for educational purposes only. Do NOT enter any actual personally identifiable information for yourself or any other person beyond a first and last name. Do not access any information other than that which is necessary for completion of assigned work. Any access to this system, other than that required by your instructor, is equivalent to a HIPAA violation and will be addressed following the WCTC Academic Code of Conduct policies, and may include disciplinary action up to and including dismissal from the program.</p>

<h3>Information we collect and use</h3>
<p>While using the website, we may ask you to provide us with certain personally identifiable information that can be used to contact or identify you. Personally identifiable information may include, but is not limited to your name.</p>

<h3>Log Data</h3>
<p>Like many site operators, we collect information that your browser sends whenever you visit our Site. This data may include information such as your IP address, browser type and version, pages of our Site that you visit, the time and date of your visit, the time spent on those pages and other statistics.</p>

<small>This Privacy Policy was last modified on 2/2/2020.</small>