@model List<IS_Proj_HIT.Entities.ProviderType>

@{
    ViewData["Title"] = "Provider Types";
}

<div class="row my-3">
<h3>
    <a class="btn btn-primary" asp-controller="PhysicianStructuredData" asp-action="Index">
        <i class="fa fa-arrow-left "></i>
    </a>
    Provider Types
</h3>
</div>

<p>
    <a class="btn btn-primary" asp-controller="PhysicianStructuredData" asp-action="CreateProviderType">Create New</a>
</p>

<table class="stripe nowrap" id="providerTypeTable">
    <thead>
        <tr>
            <th>
                Provider Type Name
            </th>
            <th>
                Description
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var providerType in Model)
        {
            <tr>
                <td>
                    @providerType.Name
                </td>
                <td>
                    @providerType.Description
                </td>
                <td>
                   
                    <a class="btn btn-primary" asp-controller="PhysicianStructuredData" asp-action="EditProviderType" asp-route-id="@providerType.ProviderTypeId">Edit</a>
                    <a class="btn btn-danger" asp-controller="PhysicianStructuredData" asp-action="DeleteProviderType" asp-route-id="@providerType.ProviderTypeId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@section scripts{
    <script>
        // Creates DataTable
        // DataTable Documentation found here: https://datatables.net/
        $(function () {
            $('#providerTypeTable').DataTable({
                columns: [null, null, { orderable: false }],
                order: [[0, 'asc']],
                pageLength: 10,
                searching: true,
                language: {
                    emptyTable: 'None found.'
                }
            });
        });
    </script>
}