@model string

<h1>@Model</h1>

<div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-4 col-xxl-3 mb-3">
  <div class="card bg-primary h-100">
    <div class="card-content no-wrap">
      <a class="page-link text-white d-block w-100 d-flex align-items-center justify-content-center"
         asp-controller="ReportHub" asp-action="ReportView" asp-route-report="HIPPA Accounting of Disclosures">
        <i class="fas fa-search"></i>
        HIPPA Accounting of Disclosures
      </a>
    </div>
  </div>
</div>