<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/7ead0501-b196-4c12-a780-da63d4a5178b/resourceGroups/HIT-Fall-2020/providers/Microsoft.Web/sites/HIT-Fall-2020</ResourceId>
    <ResourceGroup>HIT-Fall-2020</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <SiteUrlToLaunchAfterPublish>https://hit-fall-2020.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <MSDeployServiceURL>hit-fall-2020.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>HIT-Fall-2020</DeployIisAppPath>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$HIT-Fall-2020</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>


