<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/4f03a1dc-ecdf-4b30-aa73-5f767a1a649e/resourceGroups/2021HIT/providers/Microsoft.Web/sites/HIT503Spring2021</ResourceId>
    <ResourceGroup>2021HIT</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <SiteUrlToLaunchAfterPublish>http://hit503spring2021.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <MSDeployServiceURL>hit503spring2021.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>HIT503Spring2021</DeployIisAppPath>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$HIT503Spring2021</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>