@{
    ViewBag.Title = "Disclosure Data Entry";
}

<div class="row my-3">
<h3>
    <a class="btn btn-primary" asp-controller="Administration" asp-action="Index">
        <i class="fa fa-arrow-left "></i>
    </a>
    Disclosure Data Entry Management
</h3>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-4 col-lg-3 mb-3">
            <div class="card">
                <div class="card-body text-center">
                    <a class="btn btn-outline-primary" asp-controller="DisclosureStructuredData" asp-action="ViewDocumentRequesteds">Document Requested</a>
                </div>
            </div>
        </div>        
        <div class="col-sm-4 col-lg-3 mb-3">
            <div class="card">
                <div class="card-body text-center">
                    <a class="btn btn-outline-primary" asp-controller="DisclosureStructuredData" asp-action="ViewRequestPriorities">Request Priorities</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4 col-lg-3 mb-3">
            <div class="card">
                <div class="card-body text-center">
                    <a class="btn btn-outline-primary" asp-controller="DisclosureStructuredData" asp-action="ViewRequestPurposes">Purpose of Disclosure</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4 col-lg-3 mb-3">
            <div class="card">
                <div class="card-body text-center">
                    <a class="btn btn-outline-primary" asp-controller="DisclosureStructuredData" asp-action="ViewRequestReleaseFormats">Release Format</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4 col-lg-3 mb-3">
            <div class="card">
                <div class="card-body text-center">
                    <a class="btn btn-outline-primary" asp-controller="DisclosureStructuredData" asp-action="ViewRequestStatuses">Release Status</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4 col-lg-3 mb-3">
            <div class="card">
                <div class="card-body text-center">
                    <a class="btn btn-outline-primary" asp-controller="DisclosureStructuredData" asp-action="ViewRequestStatusReasons">Release Status Reasons</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4 col-lg-3 mb-3">
            <div class="card">
                <div class="card-body text-center">
                    <a class="btn btn-outline-primary" asp-controller="DisclosureStructuredData" asp-action="ViewItemStatuses">Item Status</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4 col-lg-3 mb-3">
            <div class="card">
                <div class="card-body text-center">
                    <a class="btn btn-outline-primary" asp-controller="DisclosureStructuredData" asp-action="ViewRequesterTypes">Requester Types</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4 col-lg-3 mb-3">
            <div class="card">
                <div class="card-body text-center">
                    <a class="btn btn-outline-primary" asp-controller="DisclosureStructuredData" asp-action="ViewRequesterStatuses">Requester Status</a>
                </div>
            </div>
        </div>

    </div>
</div>