@model IS_Proj_HIT.ViewModels.EncounterStructuredDataViewModel
@{
    ViewBag.Title = "Edit Point Of Origin";
}

<h1>Edit</h1>

<h4>Point Of Origin</h4>
<hr />

<div class="row">
    <div class="col-md-10">
        <form method="post">
            @Html.AntiForgeryToken()
            <div class="form-row">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="PointOfOrigin.PointOfOriginId" value="@Model.PointOfOrigin.PointOfOriginId" readonly/>

                <div class="form-group col-sm-2">
                    <label asp-for="PointOfOrigin.WiPopCode" class="control-label">WiPopCode</label>
                    <input asp-for="PointOfOrigin.WiPopCode" class="form-control" maxlength="3" required />
                    <span asp-validation-for="PointOfOrigin.WiPopCode" class="text-danger"></span>
                </div>
                <div class="form-group col-sm-4">
                    <label asp-for="PointOfOrigin.Description" class="control-label">Description</label>
                    <input asp-for="PointOfOrigin.Description" class="form-control" maxlength="150" required />
                    <span asp-validation-for="PointOfOrigin.Description" class="text-danger"></span>
                </div>
                <div class="form-group col-sm-6">
                    <label asp-for="PointOfOrigin.Explaination" class="control-label">Explanation</label>
                    <input asp-for="PointOfOrigin.Explaination" class="form-control" />
                    <span asp-validation-for="PointOfOrigin.Explaination" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <a asp-controller="EncounterStructuredData" asp-action="ViewPointOfOrigins" class="btn btn-outline-danger">Discard Changes</a>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save Changes" class="ml-3 btn btn-primary" />
                </div>
            </div>            
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}