@model IS_Proj_HIT.ViewModels.DisclosureStructuredData.DisclosureStructuredDataViewModel
@{
    ViewBag.Title = "Delete Request Status";
}

<h1>Delete</h1>

<h3>@ViewData["RegularMessage"]</h3>
<h3 class="error">@ViewData["ErrorMessage"]</h3>

<h4>Request Status</h4>
<hr />

<div class="row">
    <div class="col-md-10">
        <form method="post">
            @Html.AntiForgeryToken()
            <div class="form-row">
                
                <input type="hidden" asp-for="RequestStatus.RequestStatusId" value="@Model.RequestStatus.RequestStatusId" readonly/>
                <div class="form-group col-sm-2">
                    <label asp-for="RequestStatus.RequestStatusId" class="control-label">Id</label>
                    <input asp-for="RequestStatus.RequestStatusId" class="form-control" maxlength="20" disabled />
                </div>
                <div class="form-group col-sm-4">
                    <label asp-for="RequestStatus.RequestStatus1" class="control-label">Request Priority</label>
                    <input asp-for="RequestStatus.RequestStatus1" class="form-control" maxlength="20" required />
                </div>
                <div class="form-group col-sm-6">
                    <label asp-for="RequestStatus.StatusDescription" class="control-label">Priority Description</label>
                    <input asp-for="RequestStatus.StatusDescription" class="form-control" maxlength="100" required />
                </div>
                                
                <div class="form-group">
                    <a asp-controller="DisclosureStructuredData" asp-action="ViewRequestStatuses" class="btn btn-outline-danger">Discard Changes</a>
                </div>
                <div class="form-group">
                    <input type="submit" value="Delete Item" class="ml-3 btn btn-primary" />
                </div>
            </div>            
        </form>
    </div>
</div>

<div>
    <a asp-controller="DisclosureStructuredData" asp-action="ViewRequestStatuses">Back to List</a>
</div>