@model IS_Proj_HIT.ViewModels.DisclosureStructuredData.DisclosureStructuredDataViewModel
@{
    ViewBag.Title = "Create Request Priority";
}

<h1>Create</h1>

<h4>Request Priority</h4>
<hr />

<div class="row">
    <div class="col-md-10">
        <form method="post">
            @Html.AntiForgeryToken()
            <div class="form-row">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group col-sm-2">
                    <label asp-for="RequestPriority.PriorityId" class="control-label">Priority Id</label>
                    <input asp-for="RequestPriority.PriorityId" 
                        class="form-control" maxlength="2" required
                        placeholder="Example:  EM" />
                    <span asp-validation-for="RequestPriority.PriorityId" class="text-danger"></span>
                </div>
                <div class="form-group col-sm-4">
                    <label asp-for="RequestPriority.RequestPriority1" class="control-label">Priority</label>
                    <input asp-for="RequestPriority.RequestPriority1" 
                        class="form-control" maxlength="20" required
                        placeholder="Example:  Emergent" />
                    <span asp-validation-for="RequestPriority.RequestPriority1" class="text-danger"></span>
                </div>
                <div class="form-group col-sm-6">
                    <label asp-for="RequestPriority.PriorityDescription" class="control-label">Description of Priority</label>
                    <input asp-for="RequestPriority.PriorityDescription" 
                        class="form-control" maxlength="100" 
                        placeholder="Example:  The request is emergent"/>
                    <span asp-validation-for="RequestPriority.PriorityDescription" class="text-danger"></span>
                </div>
                                
                @if (ViewBag.ErrorMessage != null) {
                    <div class="form-group col-12">
                        <span class="text-danger">@ViewBag.ErrorMessage</span>
                    </div>
                }

                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>

            </div>
        </form>
    </div>
</div>


<div>
    <a asp-controller="DisclosureStructuredData" asp-action="ViewRequestPriorities">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}