@model IS_Proj_HIT.ViewModels.RevenueStructuredDataViewModel
@{
    ViewBag.Title = "Delete Revenue Code";
}

<h1>Delete</h1>

<h3>@ViewData["RegularMessage"]</h3>
<h3 class="error">@ViewData["ErrorMessage"]</h3>

<h4>Revenue Code</h4>
<hr />

<div class="row">
    <div class="col-md-10">
        <form method="post">
            @Html.AntiForgeryToken()
            <div class="form-row">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="RevenueCode.RevenueCodeID" value="@Model.RevenueCode.RevenueCodeID" readonly />
                <div class="form-group col-sm-2">
                    <label asp-for="RevenueCode.RevenueCodeID" class="control-label">Code Id</label>
                    <input asp-for="RevenueCode.RevenueCodeID" 
                        class="form-control" disabled/>
                </div>
                <div class="form-group col-sm-4">
                    <label asp-for="RevenueCode.ShortDescription" class="control-label">Short Description</label>
                    <input asp-for="RevenueCode.ShortDescription" 
                        class="form-control" />
                    
                </div>
                <div class="form-group col-sm-6">
                    <label asp-for="RevenueCode.LongDescription" class="control-label">Long Description</label>
                    <input asp-for="RevenueCode.LongDescription" 
                        class="form-control" />
                    
                </div>

                <div class="form-group">
                    <a asp-controller="RevenueStructuredData" asp-action="ViewRevenueCodes" class="btn btn-outline-danger">Discard Changes</a>
                </div>
                <div class="form-group ml-3">
                    <input type="submit" value="Delete Item" class="btn btn-primary" />
                </div>

            </div>
        </form>
    </div>
</div>
