@model IS_Proj_HIT.ViewModels.DisclosureStructuredData.DisclosureStructuredDataViewModel
@{
    ViewBag.Title = "Create Purpose of Request";
}

<h1>Create</h1>

<h4>Purpose of Request</h4>
<hr />

<div class="row">
    <div class="col-md-10">
        <form method="post">
            @Html.AntiForgeryToken()
            <div class="form-row">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group col-sm-6">
                    <label asp-for="RequestPurpose.RequestPurpose1" class="control-label">Purpose of Disclosure</label>
                    <input asp-for="RequestPurpose.RequestPurpose1" 
                        class="form-control" maxlength="50" required
                        placeholder="Example:  Continuing Care" />
                    <span asp-validation-for="RequestPurpose.RequestPurpose1" class="text-danger"></span>
                </div>
                <div class="form-group col-sm-6">
                    <label asp-for="RequestPurpose.PurposeDescription" class="control-label">Description of Purpose</label>
                    <input asp-for="RequestPurpose.PurposeDescription" 
                        class="form-control" maxlength="100"  
                        placeholder="Example:  The request is for continuing care"/>
                    <span asp-validation-for="RequestPurpose.PurposeDescription" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>

            </div>
        </form>
    </div>
</div>


<div>
    <a asp-controller="DisclosureStructuredData" asp-action="ViewRequestPurposes">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}