@model IS_Proj_HIT.ViewModels.PatientVm.PatientStructuredDataViewModel
@{
    ViewBag.Title = "Create Education Level";
}

<h1>Create</h1>

<h4>Education Level</h4>
<hr />

<div class="row">
    <div class="col-md-10">
        <form method="post">
            @Html.AntiForgeryToken()
            <div class="form-row">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                
                <div class="form-group col-sm-6">
                    <label asp-for="EducationLevel.EducationLevelName" class="control-label">Education Level Name</label>
                    <input asp-for="EducationLevel.EducationLevelName" 
                        class="form-control" maxlength="100" required
                        placeholder="Example:  8th Grade or Less" />
                    <span asp-validation-for="EducationLevel.EducationLevelName" class="text-danger"></span>
                </div>
                <div class="form-group col-sm-6">
                    <label asp-for="EducationLevel.EducationLevelDescription" class="control-label">Description</label>
                    <input asp-for="EducationLevel.EducationLevelDescription" 
                        class="form-control" maxlength="200" required
                        placeholder="Example:  No high school completed" />
                    <span asp-validation-for="EducationLevel.EducationLevelDescription" class="text-danger"></span>
                </div>
            </div>

            <div class="form-row">            
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </div>

        </form>
    </div>
</div>


<div>
    <a asp-controller="PatientStructuredData" asp-action="ViewEducationLevels">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
